@using Orchard.ContentManagement;
@using Orchard.Core.Contents;

@{
    ContentItem contentItem = (ContentItem)Model.ContentItem;

    // Retrieving if we are in EditorMode from Session. Maybe it is better using cookies.
    // Saving has been done before through an ajax call in the ko viewModel updateSessionValues
    var isEditorModeEnabledForThisSession = HttpContext.Current.Session["editorMode"];
    if (isEditorModeEnabledForThisSession == null)
    { isEditorModeEnabledForThisSession = false; }
}

@using (Script.Foot())
{
    <script type="text/javascript">

        // loading values into the ko viewmodel
        IEPageVM.antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        IEPageVM.updatePartsUrl = '@Url.Action("UpdateParts", "InlineEditing", new { area = "Mmr.InlineEditing" })';
        IEPageVM.updateSessionValuesUrl = '@Url.Action("UpdateSessionValues", "InlineEditing", new { area = "Mmr.InlineEditing" })';


        $(document).ready(function () {

            IEPageVM.editorMode(@isEditorModeEnabledForThisSession.ToString().ToLower());

            // this is needed to update UI on first load.
            IEPageVM.parts.valueHasMutated();
        });


        // spinner for ajax calls
        $(document)
          .ajaxStart(function () {
              $("#icon-save").removeClass("icon-save");
              $("#icon-save").addClass("icon-refresh icon-spin");
          })
          .ajaxStop(function () {
              $("#icon-save").removeClass("icon-refresh icon-spin icon-large");
              $("#icon-save").addClass("icon-save");
          });

        // unsaved changes warning
        $(window).bind('beforeunload', function () {
            if (IEPageVM.isDirty()) {
                return "@T("You have unsaved changes.Are you sure you want to leave?")";
            }

        });
    </script>
}



<div class="inline-editing-topbar" data-bind="css:{ collapsedtopbar :isCollapsed , expandedtopbar : !isCollapsed() }">
    <ul id="command-bar">

        <li>
            <a href="#" data-bind="click:collapseBar" class="collapse-button">
                <i class="icon-chevron-left"></i>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Admin", new { area = "Dashboard" })" id="dashboard-link">ss</a>
        </li>

        <li data-bind="visible:!isCollapsed()">
            <a href="#"
               id="editorModeLink"
               data-bind="click:toggleEditorMode , css: { topbaractivelink : editorMode}">
                <i class="icon-pencil"></i> Editor Mode
            </a>
        </li>

        <li data-bind="visible:!isCollapsed()">
            <a href="#"
               data-bind="click: saveEditedPage , visible: isDirty">
                <i id="icon-save" class="icon-save"></i>Save
            </a>
        </li>
        
    
        <li id="infoarea-wrapper" data-bind="visible:!isCollapsed()">
            <ul id="infoarea">
                <li data-bind="visible: isDirty" title="@T(" changed parts")">
                    <i class="icon-pencil"></i>
                    <span class="badge badge-warning"
                          data-bind="text: dirtyParts().length"></span>
                </li>
            </ul>
        </li>

    </ul>
</div>

@*This helps when debugging:
    <pre data-bind="text: JSON.stringify(ko.toJS(IEPageVM), null, 2)"></pre>  *@
