@using Orchard.ContentManagement;
@using Orchard.Widgets.Models;
@using Newtonsoft.Json;

@{
    var widgetPart = ((IContent)Model.ContentItem).As<WidgetPart>();
    var tag = Tag(Model, "article");    
    ContentItem contentItem = (ContentItem)Model.ContentItem;
}
@tag.StartElement

@if ((widgetPart.RenderTitle && HasText(widgetPart.Title)) || Model.Header != null)
{
    <header>
        @if ((widgetPart.RenderTitle && HasText(widgetPart.Title)))
        {

            if (AuthorizedFor(Orchard.Core.Contents.Permissions.EditContent) && Model.ContentItem.Id > 0)
            {
                using (Script.Foot())
                {
                    <script type="text/javascript">
                        var wt =  createWidgetTitlePart(@contentItem.Id, '@widgetPart.Title', 'widgetTitlePart');
                        IEPageVM.parts().push(wt);
                    </script>
                };

                @Display.ActionControls(contentItemId: @contentItem.Id)

                <h1 class="mce_WidgetTitlePart_@contentItem.Id" id="mce_WidgetTitlePart_@contentItem.Id">@widgetPart.Title</h1>

            }
            else
            {
                <h1>@widgetPart.Title</h1>
            }
        }
        else
        {
            @Display(Model.Header)
        }

    </header>
}

@Display(Model.Child)
@if (Model.Footer != null)
{
    <footer>
        @Display(Model.Footer)
    </footer>
}
@tag.EndElement