@using Orchard.ContentManagement;
@using Orchard.Widgets.Models;
@using Newtonsoft.Json;

@{
    var widgetPart = ((IContent)Model.ContentItem).As<WidgetPart>();
    var tag = Tag(Model, "article");
    ContentItem contentItem = (ContentItem)Model.ContentItem;
}
@tag.StartElement

@if ((widgetPart.RenderTitle && HasText(widgetPart.Title)) || Model.Header != null)
{
    <header>
        @if ((widgetPart.RenderTitle && HasText(widgetPart.Title)))
        {
            @* Only show ActionControls and only attaches the part to the knockout viewmodel if the user has EditContent permissions*@
            if (AuthorizedFor(Orchard.Core.Contents.Permissions.EditContent) && Model.ContentItem.Id > 0)
            {
                // Each part attaches itself to the root Knockout viewModel
                using (Script.Foot())
                {
                    <script type="text/javascript">
                        var wt =  inlineEditing.createWidgetTitlePart(@contentItem.Id, '@widgetPart.Title', 'WidgetTitlePart');
                        inlineEditing.IEPageVM.parts().push(wt);
                    </script>
                };

                // Injecting ActionControls shape
                @Display.InlineEditing_ActionControls(ContentItem: @contentItem, PartTypeName: "WidgetTitlePart")

                <h1 class="mce_WidgetTitlePart_@contentItem.Id highlighter"
                    id="mce_WidgetTitlePart_@contentItem.Id">
                    @widgetPart.Title
                </h1>
            }
            else
            {
                <h1>@widgetPart.Title</h1>
            }
        }
        else
        {
            @Display(Model.Header)
        }

    </header>
}

@Display(Model.Child)
@if (Model.Footer != null)
{
    <footer>
        @Display(Model.Footer)
    </footer>
}
@tag.EndElement